#grid {
   height: 100px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    
}
#player {
    color: rgb(4, 0, 255);
    display: block;
    font-size: 40px;
}
#score {
    color: rgb(4, 0, 255);
    font-size: 30px;
}
p {
    margin-top: 0;
    font-size: 30px;
}

.box {
    width: 100px;
    height: 131px;
    background: red;
    color: rgb(229, 255, 0);
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}


